<ul class="nav nav-pills nav-justified scroll">
  <li>
    <a (click)="toKebab()" data-toggle="tab" class="nav-link active" routerLink="/Kebab">Kebab</a>
  </li>
  <li>
    <a (click)="toMenu()" data-toggle="tab" class="nav-link"  routerLink="/Zestawy">Zestawy</a>
  </li>
  <li>
    <a (click)="toBurgers()" class="nav-link" routerLink="/Burgery">Burgery</a>
  </li>
  <li>
    <a (click)="toBurgers()" class="nav-link" routerLink="/Burgery">Zapiekanki</a>
  </li>
  <li>
    <a (click)="toBurgers()" class="nav-link" routerLink="/Burgery">Sałatki</a>
  </li>
  <li>
    <a (click)="toBurgers()" class="nav-link" routerLink="/Burgery">Zimne Napoje</a>
  </li>
  <li>
    <a (click)="toBurgers()" class="nav-link" routerLink="/Burgery">Ciepłe Napoje</a>
  </li>
</ul>

