 <ul class="nav nav-pills nav-justified scroll">
   <li>
     <a class="nav-link active" href="#">Kebab</a>
   </li>
   <li>
     <a class="nav-link" href="#">Zestawy</a>
   </li>
   <li>
     <a class="nav-link" href="#">Burgery</a>
   </li>
   <li>
     <a class="nav-link" href="#">Zapiekanki</a>
   </li>
   <li>
     <a class="nav-link" href="#">Sałatki</a>
   </li>
   <li>
     <a class="nav-link" href="#">Zimne napoje</a>
   </li>
   <li>
     <a class="nav-link" href="#">Zimne napoje</a>
   </li>
 </ul>
