<div class="container">
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Opis</th>
        <th scope="col">Cena</th>
        <th scope="col">Składniki</th>
        <th scope="col">Akcja</th>
      </tr>
      </thead>
      <tbody *ngFor="let dish of dishes">
      <tr>
        <td>{{dish.id}}</td>
        <td>{{dish.name}}</td>
        <td>{{dish.description}}</td>
        <td>{{dish.price}}</td>
        <td>
          <span *ngFor="let ingredient of dish.ingredients">
            {{ingredient.name}}
          </span>
        </td>
        <td>
          <a (click)="editDish(dish.id)"><button class="btn btn-primary btn-margin">Edytuj</button></a>
          <a (click)="removeDish(dish.id)"><button class="btn btn-danger">Usuń</button></a>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-info" (click)="redirectToAddDish()">Dodaj składnik</button>
  </div>
</div>
