<div class="card border-0 mb-2" style="width: 60rem;">
  <div class="row">
    <div class="col-md-3  justify-content-center">
      <img
        class="img-fluid align-bottom"
           src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
           alt="img">
    </div>
    <div class="col-md-9">
      <h5 class="card-title font-weight-bold">Burger Drwal</h5>
      <p class="ingrendient-list">Bułka, ser, mięsco sos, pomidory, dodatki</p>
      <app-ingredients></app-ingredients>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="row mt-2">
              <h5 class="mt-1 font-weight-bold">18,90 zł</h5>
              <button class="btn btn-primary" type="submit" style="margin: 0 auto;">Dodaj do zamówienia!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

