<div class="card">
  <div class="card-header text-center">
    <fa-icon [icon]="faShoppingBasket" size="lg"></fa-icon>
    <span class="cart-header">Koszyk</span>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <app-cart-item></app-cart-item>
    </li>
    <li class="list-group-item">
      <app-cart-item></app-cart-item>
    </li>
    <li class="list-group-item">
      <app-cart-item></app-cart-item>
    </li>
    <li class="list-group-item">
      <app-cart-item></app-cart-item>
    </li>
    <li class="list-group-item">
      <app-cart-item></app-cart-item>
    </li>
    <li class="list-group-item">
      <app-cart-item></app-cart-item>
    </li>
  </ul>

  <div class="card-body">
    <p class="card-text"><span>Razem</span> <span class="float-right">13 zł</span></p>
    <p class="card-text"><span>Dostawa</span> <span class="float-right">Za darmo</span></p>
    <p class="card-text font-weight-bold"><span>Kowta całkowita</span> <span class="float-right">13 zł</span></p>
  </div>
  <div class="card-body text-center">
    <button class="btn btn-primary" type="submit">Zamawiam</button>
  </div>
</div>
