.cart-header {
  font-weight: bold;
  padding-left: 0.75rem;
  font-size: 1.25rem;
}

.card-body {
  padding: 0.25rem 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

li {
padding: 0.25rem 0.5rem;
}
