<div class="container-fluid">
  <div class="row mb-2">
    <div class="col">
      <img class="img-fluid" src="https://static.takeaway.com/images/generic/heroes/1606/531_kebab_20.jpg?timestamp=1617356202" alt="kebab">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="font-weight-bold">Karpat Kebab Rynek 25</h3>
      <span class="font-color-secondary">Ta restauracja oferuje kartę lojalnościową do zbierania pieczątek. Pieczątki są wysyłane w wiadomości e-mail. Zapisz się do naszego newslettera na końcu zamówienia, aby otrzymywać pieczątki.</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-food-categories></app-food-categories>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-menu></app-menu>
    </div>
  </div>
</div>
