<div class="container-fluid">
  <div class="row mb-2">
    <div class="col">
      <img class="img-fluid"
           style="max-height: 100px"
           src="https://static.takeaway.com/images/generic/heroes/1606/531_kebab_20.jpg?timestamp=1617356202" alt="kebab">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="font-weight-bold">Mega pizza</h1>
      <span class="font-color-secondary">Prawdopodobnie najlepsza pizza w galaktyce.</span>
    </div>
  </div>
  <!--Any idea how to do it in more elegant way ?-->
  <div class="row" style="height: 65vh; overflow-y: auto">
    <div class="col">
     <app-product-view></app-product-view>
    </div>
  </div>
</div>
