<div class="accordion" id="accordionExample">
  <div class="card border-0">
    <div class="card-header" id="headingOne">
      <h2 class="mt-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed">
        Dodatkowe składniki
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"
         [ngbCollapse]="isCollapsed">
      <div class="card-body">
    <app-ingredients-list></app-ingredients-list>
      </div>
    </div>
  </div>
</div>
